<div class="container mt-3">
  <!-- incrustar estilos -->
  {{> styles}}

  <div class="jumbotron">
    <h1>Vista de Productos</h1>
    <br />
    <!-- el valor hayProductos deberia llegar del servidor como un flag boolean para saber si el arreglo esta vacio o lleno -->
    {{#if hayProductos}}
      <div class="table-responsive">
        <table class="table table-dark">
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
          </tr>
          <!-- implementar foreach para cargar productos -->
          {{#each productos}}
            <tr>
              <td>{{this.title}}</td>
              <td>${{this.price}}</td>
              <td>
                <img src={{this.thumbnail}} alt="producto" class="img" />
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
    {{else}}
      <h3 class="alert alert-danger">No se encontraron productos</h3>
    {{/if}}

    <br />
    <a href="/" type="button" class="btn btn-primary">Cargar un nuevo producto</a>
  </div>
</div>